body {
  background: linear-gradient(
    103.3deg,
    rgb(253, 109, 104) 7.7%,
    rgb(248, 150, 105) 90.8%
  );
  text-align: center;
}

.container {
  margin: 120px auto;
  max-width: 900px;
  width: 86%;
  border-radius: 10px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

header {
  margin: 20px 5px;
}

header h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: white;
}

.form-container {
  padding: 30px;
  background-color: rgb(252, 250, 253);
  border-radius: 5px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.6;
  margin-top: 17px;
  font-size: 16px;
  opacity: 0.7;
}

.instructions {
  padding: 16px;
  border: 1px solid #e05d53;
  width: 80%;
  font-size: 16px;
  border-radius: 18px;
  line-height: 20px;
  color: rgb(214, 98, 20);
}

input:focus {
  border-color: #e05d53; /* Puedes cambiar este color según tus preferencias */
  outline: none; /* Esto elimina el contorno predeterminado en algunos navegadores */
}

input::placeholder {
  color: #dd948f; /* Puedes cambiar este color según tus preferencias */
}

.submit-button {
  margin: 0px 10px;
  width: 20%;
  background-color: #ff6e65;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 14px 24px;
}

.recipe {
  font-size: 14px;
  background-color: white;
  padding: 20px 38px;
  line-height: 24px;
  font-weight: 400;
  box-shadow: 0px 20px 60px rgba(204, 90, 112, 0.459);
  margin: 20px 0;
  border-radius: 5px;
}

.recipe h2 {
  text-align: start;
}

.recipe p {
  text-align: justify;

}

.recipe ul {
  list-style: none;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: start;
}

.recipe ol {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: start;
}

.recipe li {
  text-decoration: none;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 15px;
  margin: 19px;
}
